## .NET inställningar
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio & VS Code inställningar
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Känslig information (Viktigt!)
appsettings.json
appsettings.Development.json
*.pfx
*.publishsettings

## Docker
.env

## Operativsystem-filer
Thumbs.db
.DS_Store